@import "overwrite";

@font-color: #3b3b3b;
@muted-color: #b8b8b8;

body {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: @font-color !important;
}

img {
    max-width: 100%;
    height: auto;
}

.card-list {
    color: @font-color;
    text-decoration: none;
    outline: none;

    i {
        color: @muted-color;
        font-size: 1.5em;
    }

    .el-card {
        margin-bottom: 1em;
        font-size: 1.5em;
        text-align: center;
    }
}

#brand {
    outline: none;

    img {
        display: block;
        margin: 1em auto;
    }
}

#detail-box {
    margin-bottom: 2em;
    text-align: center;

    h1 {
        margin: 0;
        font-weight: normal;
    }
}