@import "overwrite";

@primary-color: rgba(0, 0, 0, 87%);
@secondary-color: rgba(0, 0, 0, 54%);

body {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: @primary-color !important;
}

img {
    max-width: 100%;
    height: auto;
}

.muted-text {
    color: @secondary-color;
}

.card-list {
    color: @primary-color;
    text-decoration: none;
    outline: none;

    i {
        color: @secondary-color;
        font-size: 1.5em;
    }

    .el-card {
        margin-bottom: 1em;
        font-size: 1.5em;
        text-align: center;
    }
}

#brand {
    outline: none;

    img {
        display: block;
        margin: 1em auto;
    }
}

#detail-box {
    margin-bottom: 2em;
    text-align: center;

    h1 {
        margin: 0;
        font-weight: normal;
    }
}