@theme-color: #fb4747;

.el-button {
    &:focus, &:hover {
        color: @theme-color;
        border-color: @theme-color;
    }
}

.el-button--text {
    color: @theme-color;
}

.el-button--primary {
    &, &:hover, &:focus {
        color: #fff;
        background-color: @theme-color;
        border-color: @theme-color;
    }
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: @theme-color;
    background: @theme-color;
}